<h2>Show talk</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @talk.title %>
  </li>

  <li>
    <strong>Author:</strong>
    <%= @talk.author %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @talk.description %>
  </li>

  <li>
    <strong>Pluses:</strong>
    <%= @talk.pluses %>
  </li>

  <li>
    <strong>Minuses:</strong>
    <%= @talk.minuses %>
  </li>

</ul>

<%= link "Edit", to: talk_path(@conn, :edit, @talk) %>
<%= link "Back", to: talk_path(@conn, :index) %>
